hellomule/src/main/mule/hellomule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="d8a3b9ee-9051-429f-aec3-ba3075a298f6" file="${env}.secure.properties" key="${secure.key}" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<flow name="hellomuleFlow" doc:id="b299d8c9-4ae1-482e-a911-73999f7f9681" >
		<http:listener doc:name="Listener" doc:id="ed08d54a-feef-4266-8173-27035943f7a0" config-ref="HTTP_Listener_config" path="/hellomule"/>
		<set-payload value="Hello Mule" doc:name="Set Payload" doc:id="3b526c2c-4890-4bc2-899f-cdda569ccba5" />
		<logger level="INFO" doc:name="Logger" doc:id="29a74083-097b-4ef6-89f9-74fd3d8cf7b8" message='#[output application/java&#10;---&#10;"Username: " ++ Mule::p("secure::example.username")&#10;++ " - " ++&#10;"Password: " ++ Mule::p("secure::example.password")]'/>
	</flow>
</mule>
